:root {
  --text-dark: #444444;
  --text-grey: #737373;
  --text-light: #cccccc;
  --accent: #e88679;
  --font-bold: 600;
  --font-medium: 400;
  --font-regular: 300;
}

html {
  font-family: "Inter", sans-serif;
  color: var(--text-dark);
  font-size: 18px;
  scroll-behavior: smooth;
}

.proj-link {
  color: var(--accent);
}

.proj-link:hover {
  color: var(--accent);
  border-bottom: 1px solid var(--accent);
}

a {
  text-decoration: none !important;
}

#headline {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: var(--font-bold);
  padding-bottom: 0.2em;
  line-height: 1.2em;
  color: var(--text-dark);
}

#about-body {
  font-family: Inter, sans-serif;
  color: var(--text-dark);
  line-height: 1.5em;
}

/* Navbar */
#nav-text {
  font-family: "Inter", sans-serif;
  color: var(--text-dark);
  font-weight: var(--font-bold);
  font-size: 24px;
}

.transparent-navbar {
  padding: 2rem 5vw !important;
  background-color: transparent !important;
}

.navbar-nav .nav-item .nav-link {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: var(--text-dark);
  font-weight: var(--font-medium);
  margin-left: 0.5em;
}

/* Skill Labels */
.proj-label {
    background-color: rgba(244, 86, 69, 0.051) !important;
    color: var(--accent) !important;
    border: 1px solid var(--accent) !important;
    padding: .5em .8em;
    font-weight: var(--font-medium) !important;
    margin-bottom: .5em;
}

.space-bottom-sm {
    margin-bottom: 1rem;
}

#memoji {
  width: 100%;
  max-width: 450px;
}

.about {
  display: flex;
  justify-content: space-between;
  min-height: 70vh;
}

.flex-column-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.flex-column-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-right: 2rem;
  padding-top: 5rem;
}

.about i {
  padding-right: 10px;
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: 1fr;
}

.grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fa-envelope,
.fa-linkedin,
.fa-github {
  color: var(--text-dark);
}

.card-title {
  font-family: Inter, sans-serif;
  font-size: 1.5rem;
  font-weight: var(--font-medium);
  color: var(--text-dark);
}

.card-body {
  font-family: Inter, sans-serif;
  font-weight: var(--font-regular);
  color: var(--text-dark) !important;
}

#gallery {
  padding: 5em;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
}

.card {
  border: none !important;
  box-shadow: 0 2px 40px 0 #e6e6e6;
  background-color: #ffffff;
  overflow: hidden;
  transition: box-shadow 0.3s ease-out, transform 0.3s ease-out,
    opacity 0.2s ease-out;
  transform: translateY(0);
  border-radius: 1em !important;
}

.card-body {
  padding: 1.5rem 2rem !important;
}

.proj-card:hover {
  box-shadow: 0 2px 40px 0 var(--text-light);
  transform: translateY(-0.8em);
}

@media only screen and (max-width: 992px) {
  /* .navbar-light .navbar-toggler {
        border: 0;
    } */
  .nav-item {
    padding-left: 0px;
  }
  /* .sidebar {
        display: none;
    } */
  /* #art-gallery {
        grid-template-columns: repeat(3, 1fr);
    } */
  #memoji {
    width: 400px;
  }
  #headline {
    font-size: 2.5rem;
  }
  .about-body {
    font-size: 2.2rem;
  }
  /* .iframe-container {
        padding-top: 230%
    } */
  /* .header-text {
        width: auto;
    } */
}

@media only screen and (max-width: 769px) {
  html {
    font-size: 16px;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 70vh;
  }

  #about-body {
    font-size: 16px;
  }

  .flex-column-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-column-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-top: 2rem;
  }

  #gallery {
    padding: 2em;
    grid-template-columns: repeat(1, 1fr);
  }
  /* #art-gallery {
        grid-template-columns: repeat(2, 1fr);
    } */
  #memoji {
    width: 375px;
  }
}

@media (max-width: 576px) {
  #memoji {
    width: 300px;
}
